build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/ProjectOne.lib
build/rules.ninja
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ff500518bdb6efce6659.json
build/.cmake/api/v1/reply/codemodel-v2-4535ea8c114d76c39748.json
build/.cmake/api/v1/reply/index-2020-03-29T21-46-22-0612.json
build/.cmake/api/v1/reply/target-ExampleTests-Debug-c7e1b226ccc6ea32c8df.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-ec9d1569d58e459395da.json
build/.cmake/api/v1/reply/target-gmock-Debug-513d9f169a09eade8092.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-e6d0fac66ed7f3bd0e17.json
build/.cmake/api/v1/reply/target-gtest-Debug-123a4e4a052ff753e6e5.json
build/.cmake/api/v1/reply/target-ProjectOne-Debug-e26f11270bffac2c8c3d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.0/CMakeSystem.cmake
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/ProjectOne.dir/ProjectOne.cpp.obj
build/CMakeFiles/ProjectOne.dir/ProjectOne.pdb
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/Testing/TAG
build/Testing/20200329-2147/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20200329-2147.log
build/Testing/Temporary/LastTest.log
build/bin/gmock_maind.pdb
build/bin/gmockd.pdb
build/bin/gtest_maind.pdb
build/bin/gtestd.pdb
build/googletest/cmake_install.cmake
build/googletest/CTestTestfile.cmake
build/googletest/googlemock/cmake_install.cmake
build/googletest/googlemock/CTestTestfile.cmake
build/googletest/googlemock/CMakeFiles/gmock.dir/__/googletest/src/gtest-all.cc.obj
build/googletest/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.obj
build/googletest/googlemock/CMakeFiles/gmock_main.dir/__/googletest/src/gtest-all.cc.obj
build/googletest/googlemock/CMakeFiles/gmock_main.dir/src/gmock_main.cc.obj
build/googletest/googlemock/CMakeFiles/gmock_main.dir/src/gmock-all.cc.obj
build/googletest/googletest/cmake_install.cmake
build/googletest/googletest/CTestTestfile.cmake
build/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
build/googletest/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
build/googletest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.obj
build/googletest/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.obj
build/googletest/googletest/generated/gmock_main.pc
build/googletest/googletest/generated/gmock.pc
build/googletest/googletest/generated/gtest_main.pc
build/googletest/googletest/generated/gtest.pc
build/googletest/googletest/generated/GTestConfig.cmake
build/googletest/googletest/generated/GTestConfigVersion.cmake
build/lib/gmock_maind.lib
build/lib/gmockd.lib
build/lib/gtest_maind.lib
build/lib/gtestd.lib
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/ExampleTests.exe
build/tests/ExampleTests.ilk
build/tests/ExampleTests.pdb
build/tests/CMakeFiles/ExampleTests.dir/embed.manifest
build/tests/CMakeFiles/ExampleTests.dir/intermediate.manifest
build/tests/CMakeFiles/ExampleTests.dir/manifest.rc
build/tests/CMakeFiles/ExampleTests.dir/manifest.res
build/tests/CMakeFiles/ExampleTests.dir/tests.cpp.obj
build/tests/CMakeFiles/ExampleTests.dir/vc140.pdb
.vscode/settings.json
a.exe
build/.cmake/api/v1/reply/codemodel-v2-534137330907beadc879.json
a.exe
build/.cmake/api/v1/reply/target-ExampleTests-Debug-f03de945ec986ce5a532.json
build/.cmake/api/v1/reply/index-2020-04-01T20-31-28-0959.json
build/.cmake/api/v1/reply/index-2020-03-29T21-57-19-0514.json
a.exe
a.exe
